version: '3.9'

services:
  redis_1:
    image: redis:6
    ports:
      - "7001:7001"
    volumes:
      - ./docker-data/redis_1.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
  redis_2:
    image: redis:6
    ports:
      - "7002:7002"
    volumes:
      - ./docker-data/redis_2.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
  redis_3:
    image: redis:6
    ports:
      - "7003:7003"
    volumes:
      - ./docker-data/redis_3.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
  redis_4:
    image: redis:6
    ports:
      - "7004:7004"
    volumes:
      - ./docker-data/redis_4.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
  redis_5:
    image: redis:6
    ports:
      - "7005:7005"
    volumes:
      - ./docker-data/redis_5.conf:/usr/local/etc/redis/redis.conf
    command: redis-server /usr/local/etc/redis/redis.conf
  twemproxy:
    image: baonnt/twemproxy
    ports:
      - "22121:22121"
      - "22222:22222"
    volumes:
      - ./twemproxy-data/nutcracker.yml:/etc/nutcracker.conf
      - /var/log/nutcracker/nutcracker.log:/var/log/nutcracker/nutcracker.log
    command: ["--conf-file=/etc/nutcracker.conf", "--mbuf-size=512", "--verbose=4"]
  grafana:
    image: grafana/grafana:latest
    ports:
      - '3000:3000'
    user: '1000'
    environment:
      - GF_AUTH_ANONYMOUS_ORG_ROLE=Admin
      - GF_AUTH_ANONYMOUS_ENABLED=false
      - GF_AUTH_BASIC_ENABLED=true
      - GF_ENABLE_GZIP=true
      # - GF_INSTALL_PLUGINS=redis-app,redis-datasource,grafana-clock-panel,grafana-simple-json-datasource
    volumes:
      - ./grafana/config.ini:/etc/grafana/config.ini
      - ./grafana/provisioning/datasources:/etc/grafana/provisioning/datasources
      - ./grafana/data:/var/lib/grafana
    network_mode: "host"
    depends_on:
      - twemproxy
  prometheus:
    image: "prom/prometheus:master"
    command: ["--config.file=/prometheus.yml"]
    volumes:
      - ./prometheus-data/prometheus.yaml:/prometheus.yml
    ports:
      - 9090:9090
    depends_on:
      - twemproxy
  
  twemproxy_exporter:
    image: "baonnt/twemproxy_exporter"
    command: ["--twemproxy.stats-address=twemproxy:22222"]
    ports:
      - 9151:9151
    depends_on:
      - twemproxy

  memcached_userinfo:
    image: "memcached:latest"
    command: ["-m", "6144", "-l", "0.0.0.0:11240,0.0.0.0:11231,0.0.0.0:11232,0.0.0.0:11233,0.0.0.0:11234,0.0.0.0:11235,0.0.0.0:11236,0.0.0.0:11237,0.0.0.0:11238,0.0.0.0:11239", "-c", "20000", "-t", "16"]
    ports:
      - 11231-11240:11231-11240
    network_mode: "host"

  memcached_profile:
    image: "memcached:latest"
    command: ["-m", "6144", "-l", "0.0.0.0:11211,0.0.0.0:11212,0.0.0.0:11213,0.0.0.0:11214,0.0.0.0:11215,0.0.0.0:11216,0.0.0.0:11217,0.0.0.0:11218,0.0.0.0:11219,0.0.0.0:11220", "-c", "20000", "-t", "16"]
    ports:
      - 11211-11220:11211-11220
    network_mode: "host"

  memcached_living_location:
    image: "memcached:latest"
    command: ["-m", "6144", "-l", "0.0.0.0:11541,0.0.0.0:11542,0.0.0.0:11543,0.0.0.0:11544,0.0.0.0:11545,0.0.0.0:11546,0.0.0.0:11547,0.0.0.0:11548,0.0.0.0:11549,0.0.0.0:11550", "-c", "20000", "-t", "16"]
    ports:
      - 11541-11550:11541-11550
    network_mode: "host"
  
  memcached_extrainfo:
    image: "memcached:latest"
    command: ["-m", "6144", "-l", "0.0.0.0:11671,0.0.0.0:11672,0.0.0.0:11673,0.0.0.0:11674,0.0.0.0:11675,0.0.0.0:11676,0.0.0.0:11677,0.0.0.0:11678,0.0.0.0:11679,0.0.0.0:11680", "-c", "20000", "-t", "16"]
    ports:
      - 11671-11680:11671-11680
    network_mode: "host"
  mcrouter:
    image: "mcrouter/mcrouter"
    command: ["--config-file=/usr/local/etc/mcrouter/mcrouter_config.json", "-p", "51111"]
    ports:
      - 51111:51111
    volumes:
      - ./mcrouter-data/mcrouter_config.json:/usr/local/etc/mcrouter/mcrouter_config.json
    network_mode: "host"

networks:
  default:
    external:
      name: twemproxy-docker_default
